.w1224 {
  width: 1224px;
  margin: 0 auto; }

.top-banner {
  overflow: hidden;
  min-width: 1224px;
  position: relative;
  height: 80px; }
  .top-banner .img-banner {
    display: block;
    height: 80px; }
    .top-banner .img-banner img {
      display: block;
      height: 80px; }
  .top-banner .close-banner {
    position: absolute;
    top: 10px;
    right: 40px;
    display: block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    background: url("../images/close.png") no-repeat -17px -2px; }

.header .top-header {
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  height: 32px;
  color: #666;
  line-height: 30px;
  background: #f5f5f5;
  font-size: 12px;
  position: relative; }
  .header .top-header .handle .top-header-site .site-logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    background: url(../images/icon.png) no-repeat -1031px -13px; }
  .header .top-header .handle .top-header-site span {
    cursor: pointer;
    color: #000;
    display: inline-block;
    vertical-align: top; }
  .header .top-header .handle .top-header-handle {
    padding-left: 20px; }
    .header .top-header .handle .top-header-handle .login {
      color: #e23435; }
  .header .top-header ul li {
    float: left;
    padding: 0 10px;
    cursor: pointer; }
    .header .top-header ul li a:hover {
      color: #e23435; }
  .header .top-header ul .app-hover {
    position: relative; }
    .header .top-header ul .app-hover a .phone-icon {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: text-bottom;
      background: url(../images/icon.png) no-repeat -1075px -13px; }
    .header .top-header ul .app-hover a .app-hover-img {
      position: absolute;
      display: none;
      width: 140px;
      height: 140px;
      left: 0;
      top: 32px; }
      .header .top-header ul .app-hover a .app-hover-img img {
        width: 100%;
        vertical-align: middle; }
  .header .top-header ul .nav-hover {
    position: relative;
    border: 1px solid transparent;
    line-height: 28px;
    padding: 0; }
    .header .top-header ul .nav-hover .nav-hover-title {
      height: 28px;
      padding: 0 10px; }
      .header .top-header ul .nav-hover .nav-hover-title .email-icon {
        display: inline-block;
        width: 21px;
        height: 15px;
        vertical-align: text-bottom;
        background: url(../images/icon.png) no-repeat -1095px -13px; }
      .header .top-header ul .nav-hover .nav-hover-title .more-icon {
        display: inline-block;
        width: 12px;
        height: 6px;
        vertical-align: middle;
        margin-left: 6px;
        background: url(../images/ico-tphsop-index.png) no-repeat -200px -27px; }
    .header .top-header ul .nav-hover ul {
      display: none;
      width: 110px;
      border: 1px solid #ccc;
      background-color: #fff;
      position: absolute;
      right: -1px;
      top: 29px;
      padding: 10px; }
      .header .top-header ul .nav-hover ul li {
        float: none;
        height: 30px;
        padding: 0; }
    .header .top-header ul .nav-hover:hover {
      border: 1px solid #ccc;
      border-bottom: transparent;
      line-height: 28px;
      background-color: #fff; }
      .header .top-header ul .nav-hover:hover ul {
        display: block;
        border-top: none; }
.header .middle-header {
  height: 116px;
  padding-top: 0;
  position: relative; }
  .header .middle-header a img {
    margin-top: 18px;
    display: block; }
  .header .middle-header .search {
    margin-left: -210px;
    padding-top: 27px;
    width: 420px;
    left: 50%;
    position: absolute; }
    .header .middle-header .search .searching {
      height: 34px; }
      .header .middle-header .search .searching input {
        width: 316px;
        box-sizing: content-box;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #e23435;
        color: #666;
        float: left; }
      .header .middle-header .search .searching button {
        width: 80px;
        float: left;
        height: 34px;
        line-height: 34px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background: #e23435;
        cursor: pointer;
        outline: none;
        border: none; }
    .header .middle-header .search .hot-items {
      padding-top: 4px;
      overflow: hidden; }
      .header .middle-header .search .hot-items a {
        line-height: 24px;
        margin-right: 15px;
        font-size: 12px; }
  .header .middle-header .cart {
    margin-top: 27px;
    border-radius: 5px;
    position: relative;
    z-index: 4;
    height: 32px;
    border: 1px solid #e3e4e5; }
    .header .middle-header .cart a {
      display: block;
      width: 188px;
      color: #e01028;
      border-radius: 5px;
      position: relative;
      z-index: 9;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 12px;
      cursor: pointer; }
      .header .middle-header .cart a .cart-icon {
        display: inline-block;
        width: 20px;
        height: 18px;
        vertical-align: middle;
        margin-right: 10px;
        background: url(../images/icon.png) no-repeat -953px -12px; }
      .header .middle-header .cart a .shop-num {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        padding: 0 3px;
        min-width: 10px;
        background-color: #e23435;
        color: #fff;
        border-radius: 8px;
        vertical-align: top;
        margin-top: 2px; }
.header .nav-header .category {
  position: relative;
  z-index: 8;
  height: 40px; }
  .header .nav-header .category .classify a {
    display: block;
    background: #c81623;
    color: #fff;
    font-size: 14px;
    width: 170px;
    padding-left: 20px;
    height: 40px;
    line-height: 40px; }
    .header .nav-header .category .classify a i {
      display: inline-block;
      width: 20px;
      height: 15px;
      vertical-align: text-bottom;
      padding-right: 20px;
      background: url(../images/shop-icon1.png) no-repeat 5px 0px; }
  .header .nav-header .category ul.items {
    width: 100%;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0;
    height: 434px; }
    .header .nav-header .category ul.items .item {
      width: 100%;
      padding: 1px 0;
      height: 34px; }
      .header .nav-header .category ul.items .item .item-left {
        width: 100%; }
        .header .nav-header .category ul.items .item .item-left a {
          display: block;
          width: 190px;
          height: 26px;
          line-height: 34px;
          font-weight: 400;
          overflow: hidden;
          font-size: 1.17em;
          color: #fff; }
          .header .nav-header .category ul.items .item .item-left a img {
            margin-top: 3px;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            text-align: center;
            font-size: 0;
            margin-left: 20px;
            margin-right: 20px; }
.header .nav-header ul.nav {
  padding-left: 30px;
  width: 979px;
  height: 40px; }
  .header .nav-header ul.nav li {
    float: left;
    margin: 0 8px; }
    .header .nav-header ul.nav li a {
      font-size: 14px;
      line-height: 38px;
      z-index: 0;
      display: inline-block;
      padding: 0 8px;
      border-bottom: 2px solid transparent; }
      .header .nav-header ul.nav li a.active {
        position: relative;
        color: #e23435;
        border-bottom-color: #e23435; }

.banner {
  width: 100%;
  height: 434px;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }
  .banner ul {
    position: absolute; }
    .banner ul li {
      float: left;
      width: 1349px;
      position: relative;
      min-width: 1224px;
      height: 434px; }
      .banner ul li:nth-child(1) {
        background: #f01f49; }
      .banner ul li:nth-child(2) {
        background: #a8e7ce; }
      .banner ul li:nth-child(3) {
        background: #f9f8f4; }
      .banner ul li:nth-child(4) {
        background: #b6dbc9; }
      .banner ul li a {
        height: 100%;
        margin-left: -422px;
        width: 824px;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden; }
        .banner ul li a img {
          width: 100%;
          height: 100%; }
  .banner .direction a {
    display: block;
    width: 40px;
    height: 80px;
    position: absolute;
    top: 45%;
    color: #fff;
    background: rgba(0, 0, 0, 0.2) url("../images/banner/ico-arrow-banner.png") no-repeat;
    text-align: center;
    line-height: 50px;
    font-size: 30px; }
    .banner .direction a:nth-child(2) {
      right: 290px;
      background-position: -42px 0; }
    .banner .direction a:nth-child(1) {
      left: 270px;
      background-position: -2px 0; }
  .banner .btn {
    position: absolute;
    bottom: 20px;
    left: 50%; }
    .banner .btn a {
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-left: 2px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .banner .btn a.active {
        background-color: #fff; }
  .banner .banner-right {
    padding-top: 0;
    background: #ebebeb;
    height: 434px;
    margin-left: 402px;
    width: 210px;
    position: absolute;
    top: 0;
    left: 50%; }
    .banner .banner-right .banner-right-top {
      padding: 10px 5px 0 5px; }
      .banner .banner-right .banner-right-top a {
        display: block;
        float: left; }
        .banner .banner-right .banner-right-top a p {
          z-index: 9;
          width: 80px;
          height: 26px;
          line-height: 26px;
          background-color: #e01028;
          color: #fff;
          text-align: center;
          font-size: 12px;
          cursor: pointer;
          margin: 10px;
          border-radius: 13px;
          box-shadow: 4px 6px 11px 1px #aaa; }
    .banner .banner-right .banner-right-bottom {
      height: 351px; }
      .banner .banner-right .banner-right-bottom .banner-news {
        height: 14px;
        font-size: 12px;
        color: #333;
        padding-top: 20px;
        padding-left: 15px; }
        .banner .banner-right .banner-right-bottom .banner-news a {
          display: block;
          float: left; }
          .banner .banner-right .banner-right-bottom .banner-news a:nth-child(1) {
            padding-right: 15px;
            border-right: 1px solid #ccc; }
          .banner .banner-right .banner-right-bottom .banner-news a:nth-child(2) {
            padding-left: 15px; }
          .banner .banner-right .banner-right-bottom .banner-news a.active {
            color: #c30d23; }
      .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-l {
        height: 287px;
        padding-top: 20px;
        box-sizing: border-box;
        font-size: 12px;
        color: #4d4d4d;
        position: relative; }
        .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-l .news-list {
          overflow: hidden;
          height: 195px;
          width: 210px; }
          .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-l .news-list .item {
            width: 210px;
            font-size: 12px;
            overflow: hidden;
            padding: 0 15px 9px 15px;
            box-sizing: border-box;
            height: 25px;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-l .news-list .item a {
              color: #333; }
        .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-l .more {
          position: absolute;
          right: 14px;
          bottom: 26px;
          color: #333; }
      .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-r {
        height: 287px;
        padding-top: 20px;
        box-sizing: border-box;
        font-size: 12px;
        color: #4d4d4d;
        position: relative;
        display: none; }
        .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-r .news-list {
          overflow: hidden;
          height: 195px;
          width: 210px; }
          .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-r .news-list .item {
            width: 210px;
            font-size: 12px;
            overflow: hidden;
            padding: 0 15px 9px 15px;
            box-sizing: border-box;
            height: 25px;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-r .news-list .item a {
              color: #333; }
        .banner .banner-right .banner-right-bottom .banner-tab-body .banner-news-r .more {
          position: absolute;
          right: 14px;
          bottom: 26px;
          color: #333; }

/*# sourceMappingURL=index.css.map */
