 @charset "utf-8";
	
.BodyTable {
background-color:#f1f1f1;
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
height:276px;
width:500px;
text-align:left;
vertical-align:middle;
white-space:normal;
color:#666;
}

.TitleMessage {
font-family:SimSun,Arial,Helvetica;
font-size:14px;
font-weight: normal;
text-align:left;
vertical-align:middle;
height:18px;
white-space:nowrap;
color:#777777;
}

.FavCount {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight: normal;
text-align:center;
white-space:nowrap;
color:#f60;
}

.FavSelectBox {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
color:#777;
}

.FavSplitterLine {
height:12px;
}

.NewFolderButton a {
display:inline-block;
font-family:SimSun,Arial,Helvetica;
font-size:12px;
width:98px;
height:24px;
border:0;
text-align:center;
vertical-align:middle;
line-height:24px;
color:gray;
overflow:hidden;
text-decoration:none;
background:url(../Images/fav/bfile.gif);
}

		.NewFolderButton a:link {
display:inline-block;
font-family:SimSun,Arial,Helvetica;
font-size:12px;
width:98px;
height:24px;
border:0;
text-align:center;
vertical-align:middle;
line-height:24px;
color:gray;
overflow:hidden;
text-decoration:none;
background:url(../Images/fav/bfile.gif);
}

.NewFolderButton a:hover {
display:inline-block;
font-family:SimSun,Arial,Helvetica;
font-size:12px;
width:98px;
height:24px;
border:0;
text-align:center;
vertical-align:middle;
line-height:24px;
color:gray;
overflow:hidden;
text-decoration:none;
background:url(../Images/fav/bfile.gif) 0 -24px;
}

.IconImage {
width:82px;
text-align:right;
}

.ViewFavLink a {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
color:#1976cf;
text-decoration:none;
}

.ViewFavLink a:link {
font-family:"����";
font-size:12px;
font-weight:400;
text-decoration:none;
color:#1976cf;
}

.ViewFavLink a:active {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
text-decoration:none;
color:#1976cf;
}

.ViewFavLink a:hover {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
text-decoration:underline;
color:#f60;
}

.FavTextArea {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
width:240px;
height:68px;
border:1px solid #888;
margin-left:2px;
}

.FavTextBox {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
border:1px solid gray;
color:gray;
}

.BodyRowEnd {
border-bottom:gray 1px dotted;
}

.InputPanel {
position:absolute;
display:none;
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
width:240px;
height:90px;
border:1px solid #666;
background-color:#f1f1f1;
z-index:9999;
top:60px;
left:40px;
}

.FavButton {
font-family:SimSun,Arial,Helvetica;
font-size:12px;
font-weight:400;
width:42px;
height:20px;
border:1px solid #fff;
background-color:#4895e0;
color:#fff;
}

#IFrame {
position:absolute;
z-index:-1;
left:-2px;
top:0;
width:232px;
height:15px;
}

.fav_newsort {
border:none;
height:0;
position:relative;
text-align:left;
width:100%;

}

.fav_newsort_name {
line-height:40px;
height:45px;
margin-top:10px;
color:#777;
}
.fav_newsort_name .FavTextBox{ height:25px; line-height:25px;font-size:12px;}

.ts-2 {
border:none;
height:276px;
position:relative;
text-align:left;
vertical-align:baseline;
width:320px;
border:3px solid #888;
}

.BodyTable_con {
border:none;
height:105px;
left:0;
line-height:105px;
position:absolute;
text-align:right;
top:0;
width:97px;
padding:0;
}

.fav_body_con {
border:none;
height:105px;
left:97px;
position:absolute;
top:0;
width:393px;
padding:0 0 0 10px;
}

.fav_sort {
border:none;
height:27px;
left:0;
line-height:27px;
position:absolute;
top:117px;
width:480px;
padding:0 0 0 20px;
}

.fav_remark {
border:none;
height:86px;
left:0;
line-height:86px;
position:absolute;
top:144px;
vertical-align:top;
width:480px;
padding:5px 0 0 20px;
}

.newfav_button {
border:none;
height:41px;
left:20px;
line-height:41px;
position:absolute;
top:35px;
width:240px;
padding:0;
}

.fav_button {
border:none;
height:41px;
left:0px;
line-height:41px;
position:absolute;
top:225px;
width:320px;
padding:0;
}

.fav_s_button a {
display:inline-block;
background-color:#207FD5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
font:normal 12px/18px Simsun,Helvetica,sans-serif;
line-height:130%;
text-decoration:none;
color:#fff;
cursor:pointer;
font-weight:400;
overflow:hidden;
margin:10px 5px 10px 0;
width:50px;
height:25px;
line-height:25px;
text-align:center;
}
.fav_s_button a.fav {
background-color:#BB2832;
border:1px solid #BB2832;
color:#fff;
}

.fav_s_button a.fav:hover {
background-color:#BB2832;
border:1px solid #BB2832;
color:#fff;
text-decoration:none;
}

.fav_s_button a.cancel {
background-color:#888;
border:1px solid #e6e6e6;
color:#777;
}

.fav_s_button a.cancel:hover {
background-color:#666;
border:1px solid #666;
color:#fff;
text-decoration:none;
}

.fav_s_button a,.fav_s_button a:link,.fav_s_button a:hover,.fav_s_button a:visited {
color:#fff;
}

 /*2011-11-17 ShareWeb*/
        
        .item_share
        {
            float: left;
            height: 23px;
            overflow: hidden;
            padding: 7px 0 0;
            width: 403px;
        }
        .item_share h4
        {
            float: left;
            font-size: 12px;
            font-weight: normal;
            margin-top: 2px;
        }
        .item_share ul
        {
        }
        .item_share li
        {
            display: inline;
            float: left;
            margin-left: 3px;
            margin-top: 2px;
            white-space: nowrap;
            height: 16px;
            line-height: 16px;
        }
        .item_share a
        {
            background: url("../images/fav/item_share.gif") no-repeat scroll 0 0 transparent;
            color: #666666;
            float: left;
            font-size: 12px;
            height: 16px;
            line-height: 16px;
            margin-right: 5px;
            outline: 0 none;
            padding-left: 18px;
            text-decoration: none;
            padding-top: 1px;
        }
        .item_share a:hover
        {
            color: #2489c3;
            text-decoration: underline;
            padding-top: 1px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
        }
        .item_share a img
        {
            margin-right: 2px;
            vertical-align: -2px;
        }
        .item_share .site_kaixin
        {
            background-position: 0 -40px;
        }
        .item_share .site_renren
        {
            background-position: 0 -80px;
        }
        .item_share .site_douban
        {
            background-position: 0 -120px;
        }
        .item_share .site_email
        {
            background-position: 0 -161px;
        }
        .item_share .site_sina
        {
            background-position: 0 -202px;
        }
        .item_share .site_qzone
        {
            background-position: 0 0px;
        }
        .cf
        {
        }
        .cf:after
        {
            clear: both;
            content: "";
            display: block;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
        /*2011-11-17*/
/*Added 2012-09-17 start*/
.mark_xinpin {background: url("../images/iconList.gif") no-repeat scroll 0 0 transparent;color: #FFFFFF;cursor: pointer;font: 12px "宋体",Arial;height: 70px;padding-left: 0;padding-top: 3px; position: absolute;right: 0;text-align: center; top: 0;width: 70px;}
.mark_xCont {display: block;float: right;width: 40px;}
/*Added 2012-09-17 end*/   
     
/*Added 2012-11-12 start*/
.mark_Pre{background:url(../Images/fav/result.png);_background:url(../Images/fav/result.gif);background-position: 0px 0px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}
.mark_Reco{background:url(../Images/fav/result.png);_background:url(../Images/fav/result.gif);background-position: 0px -54px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}
.mark_Popu{background:url(../Images/fav/result.png);_background:url(../Images/fav/result.gif);background-position: 0px -108px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}
.mark_New{background:url(../Images/fav/result.png);_background:url(../Images/fav/result.gif);background-position: 0px -162px;cursor: pointer;height: 44px;padding-left: 0; position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}
.mark_Gift{background:url(../Images/fav/result.png);_background:url(../Images/fav/result.gif);background-position: 0px -216px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}
/*Added 2012-11-12 end*/ 

/*Added by liu 2013-01-19  begin */

.mark_99 {background: url("../images/iconListL.gif") no-repeat scroll 0 0 transparent;color: #FFFFFF;cursor: pointer;font: 12px "宋体",Arial;height: 70px;padding-left: 0;padding-top: 3px; position: absolute;left: 0;text-align: center; top: 0;width: 70px;}
.mark_xCont {display: block;float: right;width: 40px;} 

.mark_0{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px 0px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_3{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -55px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_2{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -110px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_5{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -165px;cursor: pointer;height: 44px;padding-left: 0; position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_4{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -220px;cursor: pointer;height: 44px;padding-left: 0; position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_1{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -275px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_6{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -330px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_7{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -1095px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_8{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -1040px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_noGift{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -495px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_10{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -550px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_9{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -605px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_11{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -660px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_12{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -715px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:45px;}

.mark_13{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -770px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:45px;}

.mark_14{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -765px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_15{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -810px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_16{background:url(../Images/item/result_icon.png);_background:url(../Images/item/result_icon.png);background-position: 0px -930px;cursor: pointer;height: 44px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:44px;}

.mark_17{background:url(../Images/item/japan.png);_background:url(../Images/item/japan.png);cursor: pointer;height: 51px;padding-left: 0;position: absolute;right: 4px;text-align: center; top: 5px;width:77px;}


/*Added by liu 2013-01-19   end */


.mark_99 .mark_xCont {display: block;float: left;width: 40px;} 