@charset "utf-8";
/* CSS Document */

/* 通用样式
=========================*/
*{ margin:0px; padding:0px;}

/*抽奖赚积分页面样式
=========================*/
.left_xu{ float:left;}
.right_xu{ float:right;}
.crl_xu{ clear:both; height:0px; line-height:0px; font-size:0px;}

.integral_xu{ width:439px; margin:50px auto; border:1px solid #e2051b;height:238px;}
.integral_title_xu{ background:#e2051b; height:30px; line-height:30px; padding:0px 7px;}
.integral_title_xu h3{ color:#fff; font-size:14px; font-weight: normal;}
.integral_title_xu a{padding-top:8px;color: #FFFFFF; display: inline;float: right; height: 13px;text-decoration: none;font-size:13px;line-height:13px;font-family: Simsun;}
.integral_title_xu a:link,.integral_title_xu a:visited{padding-top:8px;color: #FFFFFF; display: inline;float: right; height: 13px;text-decoration: none;font-size:13px;line-height:13px;
                          font-family: Arial,Simsun,Helvetica,sans-serif;}
.integral_title_xu a:hover{color: #FFFFFF; display: inline;float: right; height: 13px;text-decoration: none;font-size:13px;line-height:13px;text-decoration:underline;}
.integral_title_xu a img{display: block;padding-right: 3px;vertical-align:middle;}

.integral_body_xu{ background:url(../images/cart/integral_img_1.gif) no-repeat 20px 20px; padding:20px;height:137px;}
.integral_get_xu{  padding:95px 0px 0px 110px;padding:85px 0px 0px 110px\9;_padding:79px 0px 0px 110px; 
                  font-size:48px; color:#c3272b; font-family:Arial, Helvetica, sans-serif; width:182px; text-align:center;}
.microblogging_xu{ margin:20px 0px 20px 10px; height:20px; line-height:20px; background:url(../images/cart/integral_img_5.gif) left center no-repeat; padding-left:30px;}
.microblogging_xu a{ display:block; height:20px; line-height:20px; width:56px; background:#c1262c; color:#fff; font-size:12px; text-align:center; text-decoration:none;}
.microblogging_xu a:hover{ background:#f15a21; color:#fff;}
.microblogging_xu a:link,.microblogging_xu a:visited{ color:#fff;}
.integral_tit_xu{ width:192px; height:59px; margin:0px auto; margin-bottom:50px;}
.integral_tit_xu a img{ display:block; width:192px; height:59px; border:0px;}

.nomicroblogging_xu{ margin:20px 0px 20px 10px; height:20px; line-height:20px; padding-left:30px;}

.fav_titi_xu{ width:439px; border:1px solid #e2051b;background-color:#fff;}
.fav_titi_body_xu{padding:15px;background:#fff;}
.fav_yes_xu{ text-align:center; padding:12px 0px; border-bottom:1px dashed #c0c0c0;}
.fav_number_xu{ text-align:center; font-size:22px;  height:45px; line-height:45px; margin-top:7px; font-family:Arial; color:#333;}
.fav_number_xu span{ color:#c1272d; font-weight: normal;font-size:22px;}
.fav_user_tit_xu{ font-size:14px; color:#4d4d4d; line-height:25px; height:25px;}
.fav_make_xu{ border-collapse:collapse; border:0;}
.fav_make_xu tr td{ color:#4d4d4d; font-size:14px; vertical-align:middle;}
.fav_make_xu tr td a{ display:block; width:80px; height:20px; line-height:20px; border:1px solid #c0c0c0; text-align:center; text-decoration:none; color:#4d4d4d; margin:0px 10px; background:#f2f2f2;}
.fav_make_xu tr td a:hover{ text-decoration:underline;}
.fav_bt_xu { width:100px; margin:15px auto 10px auto;}
.fav_bt_xu a,.fav_bt_xu p{ display:block; width:45px; height:25px; line-height:25px; text-align:center;  text-decoration:none; color:#fff; font-size:14px; float:left;}
.fav_bt_xu a:link,.fav_bt_xu a:visited{ color:#fff;}
.fav_bt_xu_fenlei a:hover,.fav_bt_xu a:hover{ text-decoration:underline; color:#fff;}
.fav_bt_xu_fenlei .fav_bt_xu_1,.fav_bt_xu .fav_bt_xu_1{margin-right:10px;}
.fav_bt_xu_fenlei .fav_bt_xu_1 a, .fav_bt_xu .fav_bt_xu_1 a{ background:#e2051b;text-decoration:none;}
.fav_bt_xu_fenlei .fav_bt_xu_2 a, .fav_bt_xu .fav_bt_xu_2 a{ background:#808080;text-decoration:none;}
.fav_bt_xu_fenlei .fav_bt_xu_1 a:link{color:#fff;text-decoration:none;}
.fav_bt_xu_fenlei .fav_bt_xu_2 a:visited,fav_bt_xu .fav_bt_xu_2 a:visited,.fav_bt_xu_fenlei .fav_bt_xu_1 a:visited,fav_bt_xu .fav_bt_xu_1 a:visited{ color:#fff; text-decoration:underline;}
.padding_left_77{ padding-left:77px;}
.fenlei_name{ width:240px; height:95px; margin:0px auto; border:1px solid #e2051b; background: white}

.fav_bt_xu_fenlei a,.fav_bt_xu_fenlei p{display:block; width:45px; height:25px; line-height:25px; text-align:center;  text-decoration:none; color:#fff; font-size:14px; float:left;}
.fenlei_name table tr td{ height:30px; vertical-align:middle;}
.text_align_right{ text-align:right;}
.fenlei_name table tr td.text_align_right{ font-size:12px; color:#4c4c4c; width:90px;}
.fenlei_name table tr td input{ width:106px; height:16px; border:1px solid #bfbfbf; line-height:16px; font-size:12px;}
.fenlei_name table{ margin-top:10px;}

/*完善我的信息*/

.UCtitle span.right_per{padding-right:3px;float:right;}
.UCtitle span.right_per a{ display:block;width:100px; height:24px; line-height:24px; margin-top:3px; background:#E2051B; color:#fff;}
.UCtitle span.right_per a:hover{ background:#F15A24; color:#fff;}
.UCtitle span.right_per a:link,.UCtitle span.right_per a:visited{ color:#fff;}
.digital_order{color:#E2051B;}




