.content{background: #fff}
.categories_one{display: none;}
.main{background: #fff}
.categories:hover .categories_one{display: block;}









.wrap{width: 992px;margin: 0 auto;}
		.top-left{margin-top:10px }
		.top-left a{font-size: 20px;padding:10px;color: #000;}
		.top-left>.aActive{border-bottom: 1px red solid;color: red}
		.top-right{font-size: 20px;padding: 10px}
		.top-right>select{font-size: 16px}
		.quanxuan{height: 34px;padding: 5px 0}
		.quanxuan li{line-height: 32px}
		li{float: left;}
		.li1{height: 18px;line-height: 18px;padding-top: 7px;width: 122px;padding-left: 11px;}
		.li1 input{padding-right: 10px}
		.li2{width: 208px;}
		.li3{width: 120px;padding: 0 20px 0 10px;height: 30px;text-align: center;line-height: 30px}
		.li4{width: 120px;padding-right: 40px;text-align: right;}
		.li5{width: 120px;text-align: center;}
		.li6{width: 100px;padding-right: 40px;text-align: right;}
		.li7{width: 75px}
		.li1-1{margin: 10px}
		.li2-2{width: 310px}
		.li2-2 div{width: 200px;margin-left: 10px}
		.li2-2>img{width: 70px;margin-top: -10px}
		.li7 a{display: block;}
		.li5 a{border:1px #ccc solid;padding: 2px 5px}
		.li5 span{border:1px #ccc solid;padding: 2px 10px}
		#huanan,#xinan,#qilu{margin: 5px 0 0 10px;}

		 .huanan{height: 120px;background-color: #fff;width: 100%;margin-top:5px;border-top:2px #aaaaaa solid;}
		.huanan li{margin-top: 24px} 
		.xuanze{margin-top: 30px}
		#total{margin: 20px auto;}
		#total>p{text-align: right;font-size: 16px;letter-spacing: 2px;}
		#totalMoney{color: red;font-size: 20px;}
		#btn>a{float: right;margin-left: 20px;}
		.w_992{width: 992px;margin: 0 auto}
		.p1{margin-top: 20px;color: red}
		.jia{margin-right: 10px;display: inline-block;}
		.kong{text-align: center;}
		.kong>span{color: red;position: relative;top:-200px;font-size: 30px;}