.content{background: #fff}
.categories_one{display: none;}
.main{background: #fff}
.categories:hover .categories_one{display: block;}
.title_nav{line-height:42px;height:42px;}
.title_nav a{color: #333}
.title_nav a:hover{color: red;text-decoration:underline;}
.content-left{margin-left: 10px;margin-top: 20px}
.content-left>ul{float: left;}
.content-left>ul>li{margin-bottom: 10px;border: 1px #ccc solid;width: 70px;height: 70px;}
.content-left>ul>li>a{display: block;width: 100%;height:100% }
.content-left>ul>li>a>img{width: 100%;height: 100%}
#box{width: 400px;height:400px;float: left;margin-left: 30px;border: 1px #ccc solid;position: relative;cursor: move}
#box>img{width: 100%;height: 100%}
#filter{
    width: 200px;height: 200px;background:rgba(0,0,0,.5);position: absolute;display: none
}
#max{width: 400px;height: 400px;position: absolute;left: 420px;z-index: 999;overflow: hidden;border:1px #ccc solid;display: none;}
#box>#max>#maxImg{
    width: 800px;height: 800px;position: absolute;
}
.content-right-title>h1{text-align: left;width: 645px;font-size: 18px;margin-top: 20px;}
.price{padding-top: 10px;
    border-top: 1px dotted #666;margin-top: 5px;}
 .price-left{
 	padding-left: 10px;letter-spacing: 4px;font-size: 14px;
 }
.red{

    color: #e2051b;
}
.red>span{font-size: 18px;}

.score{
	padding-left: 10px;padding-top: 10px;border-bottom: dotted #666 1px;padding-bottom: 10px
}
.information{
	margin: 20px 0 20px 10px
}
.information>li{margin-top: 10px}
#jian,#jia{
	display: inline-block;width: 16px;height: 16px;
	text-align: center;line-height: 16px;border: 1px #ccc solid;
    cursor: pointer;
}
#shuliang{display: inline-block;
    width: 34px;
    height: 20px;
    border: solid #cccccc 1px;

    text-align: center;
    line-height: 20px;
    }
.score{
	width: 445px;
}
.score>h3{width: 70px}
.pic{position: relative;top:-4px;left:75px}
.score>h3,.score>div{float: left;}
#add_btn{

	display: block;
	position: relative;
	top: 20px;
    width: 108px;
    height: 30px;
    background: red url(../images/xbBtnAddcart.gif) no-repeat left top;border:0;cursor: pointer;margin: 10px 0  0 10px
}